<footer class="grey darken-4 white-text">
  <div class="container">
    {% comment %}{{> contact-form}}{% endcomment %}
    <ul class="row center inline">{% for cert in site.certs %}
      <li><a title="{{ cert.title }}"href="cert.link" ><img class="badge" src="{{ cert.badge }}" alt="{{ cert.title }}" /></a></li>{% endfor %}
    </ul>
    <ul class="row center inline inline-delimited">
      <li><a href="#basics">Top of page</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#projects">Featured Projects</a></li>
      <li><a href="#work">Work Experience</a></li>
      <li><a href="#interests">Interests</a></li>
    </ul>
    <div class="row center">
      <span>My resumé is also available as:</span> 
      <ul style="display: inline" class="inline inline-delimited">{% for format in site.data.formats | limit: 5 %}
        <li><a href="{{ format.url | absolute_url }}" title="My resumé in {{ format.name }} format">{{ format.name }}</a></li>{% endfor %}
      </ul>
    </div>
    <div class="row center">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. Thanks for visiting!</div>
    <ul class="row center inline">{% for network in site.data.profile.same_as %}
      <li><a href="{{ network.url }}" title="{{ network.network }}"><i class="fab fa-{{ network.network | downcase }}"></i></a></li>{% endfor %}
    </ul>
  </div>
</footer>