<!DOCTYPE html>{% assign timestamp = site.time | date: '%s' %}
<html lang="{{ site.lang }}">
  <head>
    {% seo %}{% include person.html %}{% include organization.html %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous" />    <link rel="stylesheet" href="/assets/css/gnap.css?v={{ timestamp }}" />
    {% for format in site.data.formats %}
    <link rel="alternate" type="{{ format.mime_type }}" title="My resumé in {{ format.name }} format" href="{{ format.url }}" />{% endfor %}
  </head>
  <body>
    {% unless page.redirect %}
      <main class="grey darken-4 white-text">
        <article class="white black-text">
          {{ content }}
        </article>
        {% include footer.html %}
        {% include menu.html %}
      </main>
    {% else %}
      <div id="error">
        <div>
          <h1><i class="fas fa-directions"></i></h1>
          This page has moved.<br />
          <a href="{{ page.redirect }}">Click here if you are not automatically redirected</a>.
        </div>
      </div>
    {% endunless %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>'use strict'; M.AutoInit();</script>
    {% include noie.html %}
  </body>
</html>